from airflow import DAG
from airflow.decorators import task
from datetime import datetime


with DAG("{{ dag_id }}", start_date=datetime({{ start_date.year }}, {{ start_date.month }}, {{ start_date.day }}), schedule_interval="{{ schedule_interval }}",
         catchup={{ catchup }}) as dag:
      

    @task
    def extract(stock):
        return stock

    @task
    def process(stock):
        return stock

    @task
    def send_email(stock):
        print(stock)
        return stock

    send_email(process(extract({{ input_value }})))
